*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#d3d3d3;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:Arial, sans-serif;
}

/* HEADER */

header{
    background:#b8b8b8;
    padding:18px 30px;
}

nav{
    display:flex;
    align-items:center;
    font-family:'Press Start 2P', cursive;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.logo a,
.logo a:visited,
.logo a:hover{
    color:black;
    text-decoration:none;
}

/* MAIN */

main{
    flex:1;
    padding:50px 30px;
}

h1{
    font-size:70px;
    font-family:'Press Start 2P', cursive;
    margin-bottom:35px;
}

.post{
    margin-bottom:25px;
}

.post h2{
    margin-bottom:10px;
}

.post p{
    margin-bottom:10px;
}

.post a{
    font-weight:bold;
}

hr{
    margin:20px 0;
}

/* IMAGEM DA PÁGINA DO POST */

main img{
    max-width:100%;
    height:auto;
    margin:20px 0;
}

/* FOOTER */

footer{
    background:#b8b8b8;
    text-align:center;
    padding:25px;
    font-size:28px;
    font-family:'Press Start 2P', cursive;
    font-weight:bold;
}