{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ post.titulo }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">
                Blog AJCB
            </a>
        </div>
    </nav>
</header>

<main>

    <h2>{{ post.titulo }}</h2>

    <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}">

    <p>{{ post.texto }}</p>

    <p>
        Publicado em: {{ post.data_publicacao }}
    </p>

</main>

<footer>
    Desenvolvido por AJCB
</footer>

</body>
</html>